<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".woff" mimeType="font/x-woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
        </staticContent>
    </system.webServer>
	<appSettings>
		<add key="BaseURL" value="nr2k3tracks.com/new-gpd/"/>
	</appSettings>
</configuration>
