body {
  background-color: #565656;
}
hr {
  border-color: lightgray;
}
.header {
  background-color: white;
}
.content {
  background-color: white;
}
.content-header {
  color: red;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  padding: 15px 20px;
}
.content-body {
  color: red;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  padding: 8px 20px;
}
.content-body a {
  color: red;
  text-decoration: none;
}
.carousel {
  background-color: #717171
}
.footer {
  background-color: lightgray;
}
